<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

<appender name="console" class="org.apache.log4j.ConsoleAppender"> 
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d %5p - %m%n"/>
  </layout>
</appender>

<appender name="R" class="org.apache.log4j.rolling.RollingFileAppender">
	<param name="Append" value="True" />
	<param name="File" value="log/benchmarksql.log"/>

	<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
		<param name="FileNamePattern" value="log/archive/benchmarksql.%d{yyyyMMddHHmm}.log"/>
	</rollingPolicy>

	<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
		<param name="MaxFileSize" value="1000"/>
	</triggeringPolicy>	

	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%5p\t[%d] [%t] \t%m%n"/>
	</layout>
</appender>

<root>
	<priority value="DEBUG"/>
	<appender-ref ref="console"/>
	<appender-ref ref="R"/>
</root>
</log4j:configuration>

